/* 1.1 */
.galeria>li {
    overflow: hidden;
    position: relative;
}

.galeria>li img {
    transition: transform 0.3s ease, filter 0.3s ease;
}

.galeria>li:hover img {
    transform: scale(1.1) rotate(10deg);
    filter: grayscale(100%);
}

/* 1.2 */
.grup_nosaltres div img {
    overflow: hidden;
    position: relative;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.grup_nosaltres div:hover img {
    transform: scale(1.1) rotate(-5deg);
    opacity: 0.8;
}


/* 2.1 */
@keyframes titleAnimation {
    0% {
        opacity: 0;
        transform: translateY(50px);
        color: orange;
    }
    100% {
        opacity: 1;
        transform: translateY(0);
        color: white;
    }
}

.titol {
    animation: titleAnimation 2s ease-out forwards;
}